*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Style de l'aside (partie droite) */

.asid aside{
    width: 40%;
    height: auto;
    float: left;
    /* box-shadow: 2px 0 black; */
    background-color: rgb(39, 39, 39);
    color: white;
}
aside .search{
    padding: 10px 0;
}
.search input{
    width: 75%;
    height: 50px;
    margin-left: 100px;
    border: none;
    border: solid 1px rgb(58, 57, 57);
    border-radius: 35px 35px;
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    font-size: 20px;
    outline: none;
    padding-left: 60px;

}
input::placeholder{
    font-size: 20px;
}
.search i{
    position:absolute; 
    left:80px; 
    top:15px; 
    padding:20px 40px; 
    color:darkgrey; 
}

.contenaire{
    color: white;
    display: flex;
    padding: 5px 20px;
    text-decoration: none;
}
.liens{
    text-decoration: none;
}
.contenaire:hover{
    background-color: rgb(112, 56, 245);
    border-radius: 10px 10px;
}
.imgs img{
    width: 20%;
    height: auto;
    border-radius: 50px 50px;
}
.nam h5{
    margin-left: -225px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.repon{
    font-weight: 400;
    font-size: 16px;
    color: darkgrey;
}


/* Style de la partie gauche */

.no-aside{
    width: 60%;
    height: auto;
    float: left;
    background-color: black;
    color: white;
}
nav{
    background-color:rgb(39, 39, 39);
    position: fixed;
    margin-left: 2px;
    width: 100%;
}
.fil{
    color: white;
    display: flex;
    padding: 5px 20px;
}
.img img{
    width: 16%;
    height: auto;
    border-radius: 50px 50px;
}
.name h5{
    margin-left: -240px;
    font-size: 18px;
    font-weight: 500;
}
.last{
    font-weight: 400;
    font-size: 16px;
    color: darkgrey;
}

/* Style du partie chat */
/* style de la converation à gauche  */

.conv-gauche{
    margin-top: 70px;
    padding: 0 150px;
}
.conv-gauche .chatgch{
    background-color: rgb(39, 39, 39);
    border: solid 1px rgb(39, 39, 39);
    border-radius:  12px 12px 12px 0;
    width: 170px;
    padding: 2px 0;
}
.conv-gauche .chatgch p{
    margin-left: 10px;
}
.conv-gauche .chatgch  .hrr{
    font-size: 12px;
    color: darkgrey;
    text-align: right;
}
/* fin  */
/* Style bouleGen  */
.bouleGen{
    padding: 0 0px;
    height: auto;
}
/* style de la conversation à droite */
.conv-droite{
    margin-left: 500px;
}
.conv-droite .chatdrt{
    background-color: rgb(112, 56, 245);
    border: solid 1px rgb(112, 56, 245);
    border-radius: 12px 12px 0 12px;
    width: 170px;
    padding: 2px 0;
}
.conv-droite .chatdrt p{
    margin-left: 12px;
}
.conv-droite .chatdrt .hrr{
    font-size: 12px;
    color: darkgrey;
    text-align: right;
}
/* Style de la conver-1 */

.conv-gauche-1{
    margin-top: 10px;
    padding: 0 150px;
}
.conv-gauche-1 .chatgch-1{
    background-color: rgb(39, 39, 39);
    border: solid 1px rgb(39, 39, 39);
    border-radius:  12px 12px 12px 0;
    width: 520px;
    padding: 2px 0;
}
.conv-gauche-1 .chatgch-1 p{
    margin-left: 10px;
}
.conv-gauche-1 .chatgch-1  .hrr{
    font-size: 12px;
    color: darkgrey;
    text-align: right;
}

/* style de la conver-1 */

.conv-droite-1{
    margin-left: 500px;
    margin-top: 10px;
}
.conv-droite-1 .chatdrt-1{
    background-color: rgb(112, 56, 245);
    border: solid 1px rgb(112, 56, 245);
    border-radius: 12px 12px 0 12px;
    width: 170px;
    padding: 2px 0;
}
.conv-droite-1 .chatdrt-1 p{
    margin-left: 12px;
}
.conv-droite-1 .chatdrt-1 .hrr{
    font-size: 12px;
    color: darkgrey;
    text-align: right;
}

/* style de la conver-2 */

.conv-droite-2{
    margin-left: 170px;
    margin-top: 10px;
}
.conv-droite-2 .chatdrt-2{
    background-color: rgb(112, 56, 245);
    border: solid 1px rgb(112, 56, 245);
    border-radius: 12px 12px 0 12px;
    width: 500px;
    padding: 2px 0;
}
.conv-droite-2 .chatdrt-2 p{
    margin-left: 12px;
}
.conv-droite-2 .chatdrt-2 .hrr{
    font-size: 12px;
    color: darkgrey;
    text-align: right;
}
/* Fin style conversation */

/* Début style boite mssg  */
.boiteMsg{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: fixed;
}
.saisieMsg{
    background-color: rgb(39, 39, 39);
    border: solid 1px rgb(39, 39, 39);
    border-radius: 12px 12px 0 12px;
    width: 530px;
    height: auto;
    padding: 10px 10px;
    margin-left: 140px;
}
.saisieMsg a{
    color: darkgrey;
}

.saisieMsg input{
    background-color: rgb(39, 39, 39);
    border: solid 1px rgb(39, 39, 39);
    outline: none;
    padding: 10px 10px;
    font-size: 18px;
    color: white;
    width: 88%;
    height: auto;
}
.sendMsg{
    margin-left: 10px;
    margin-top: 5px;
    border: solid 1px rgb(39, 39, 39);
    background-color: rgb(39, 39, 39);
    border-radius: 50px 50px;
    padding: 20px 13px;
}
.sendMsg a{
    color: rgb(136, 89, 245);
}
/* fin */
