*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Style de l'aside (partie droite) */

.asid aside{
    width: 40%;
    height: auto;
    float: left;
    /* box-shadow: 2px 0 black; */
    background-color: rgb(39, 39, 39);
    color: white;
}
aside .search{
    padding: 10px 0;
}
.search input{
    width: 75%;
    height: 50px;
    margin-left: 100px;
    border: none;
    border: solid 1px rgb(58, 57, 57);
    border-radius: 35px 35px;
    background-color: black;
    color: white;
    outline: none;
    padding-left: 30px;

}
input::placeholder{
    font-size: 20px;
}
.search i{
    width: 50px;
    position:absolute; 
    left:90px; 
    top:6px; 
    padding:20px 20px; 
    color:darkgrey; 
}

.contenaire{
    color: white;
    display: flex;
    padding: 5px 20px;
    text-decoration: none;
}
.liens{
    text-decoration: none;
}
.contenaire:hover{
    background-color: rgb(112, 56, 245);
    border-radius: 10px 10px;
}
.imgs img{
    width: 20%;
    height: auto;
    border-radius: 50px 50px;
}
.nam h5{
    margin-left: -225px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.repon{
    font-weight: 400;
    font-size: 16px;
    color: darkgrey;
}


/* Style de la partie gauche */

.no-aside .fil{
    background-color:rgb(39, 39, 39);
    position: fixed;
    margin-left: 515px;
    width: 100%;
}
.fil{
    color: white;
    display: flex;
    padding: 5px 20px;
}
.img img{
    width: 16%;
    height: auto;
    border-radius: 50px 50px;
}
.name h5{
    margin-left: -240px;
    font-size: 18px;
    font-weight: 500;
}
.last{
    font-weight: 400;
    font-size: 16px;
    color: darkgrey;
}